.reloj{
    background-color:white; 
    color:#9b9b9b; 
    font-size:11pt; 
    text-align:center; 
    border:0px; 
    height:20px; 
    font-weight:bold;
  }.center-items{
    display: flex;
    justify-content: center;
  }

 /*estilos para la tabla*/
table th {
  background-color: #337ab7 !important;
  color: white;
}
table>tbody>tr>td {
  vertical-align: middle !important;
}

    /* Three columns side by side */
.noticias{
  display: flex;
  flex-wrap: wrap;
}

.column {
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
  display: grid;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.bg-purple:hover{
  background-color: #451799 !important;
  border-color: #451799 !important;
}

.bg-navy:hover{
  background-color: #0456aa !important;
  border-color: #0456aa !important;
}

.bg-orange:hover{
  background-color: #9f4d09 !important;
  border-color: #9f4d09 !important;
}

.bg-olive:hover{
  background-color: #1ab570 !important;
  border-color: #1ab570 !important;
}

.bg-maroon:hover{
  background-color: #b3295c !important;
  border-color: #b3295c !important;
}

#mostrarNoticia:hover{
  color: #6c757d !important;
  background-color: #ffffff !important;
  border-color: #6c757d !important;
}

.bg-info:hover{
  background-color: #12c9e6 !important;
  border-color: #12c9e6 !important;
}